div.doneButton {
  display : inline-block;
  padding : 4px;
  margin-left : 5px;
  color : rgb(0, 128, 0);
  font-weight : bold;
}

div.doneButton:hover {
  transform : scale(2);
  cursor : pointer;
}
